@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@500&display=swap');

/*Global reset it_pvu*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

a, a:link, a:visited  {
    text-decoration: none;
}

ul, ul li {
	list-style: none;
}
/*Container global*/

.container {
    max-width: 1100px;
    margin: 0 90px;
}

body {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: white;
    background: radial-gradient(35.33% 73.78% at 30.78% 25.53%, rgba(197, 30, 43, 0.30) 0%, rgba(93, 144, 142, 0.00) 100%), radial-gradient(30.30% 56.41% at 77.15% 23.55%, #2C3892 0%, rgba(35, 21, 84, 0.00) 100%), #151517;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: 100vh;

    font-size: 0.9rem;
    font-weight: bolder;

    min-height: 100vh;
    scroll-behavior: smooth;
}

/*Header CSS*/

header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: 40px;
}

.header__logo {
    display: block;
    padding-right: 40px;
    border-right: 2px solid grey;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 40px;

    /*Свойвство растягивает на макс контент содержимое ЛИ*/
    width: max-content;
}

.nav a {
    color: white;
    font-weight: 500;
}

/*Section butonn*/

.examplebtn {
    font-family: 'Inter';
    font-size: 14px;
    color: #ffffff !important;
    border-radius: 25px;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    background: #3772FF;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .examplebtn__left {
    background: none;
  }

  .examplebtn:hover {
    color: #151517;
    background: #3467c5bd;
  }
  
  .examplebtn a {
    color: #f0f0f0;
    margin-right: 3px;
    margin-left: 10px;
  }

/*Red DOT */

.red-dot {
    position: relative;
    background-color: #f0f0f0; 
}

.red-dot::before {
    content: ""; 
    position: absolute;
    top: 1%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background-color: red; 
    border-radius: 50%; 
}

/*Media QUERIES*/

@media screen and (min-width: 1300px) {
  .container {
    margin: 0 auto;
    }
}